/* par défaut */

*{
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
}
                                                                                                                                                                                                                                                     
.conteneur-limite {
    max-width: 1400px;
    margin:  0 auto;
    padding-left: 10px ;
    padding-right: 10px;
}

img {
    object-fit: cover;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    margin: 0%;
    margin-bottom: 30px;
}

h2 {
    font-weight: 700 ;
    font-size: 22px;
    margin: 0%;
    padding: 0%;
}

h3 {
    font-weight: 700 ;
    font-size: 16px;
    padding: 0%;
    margin: 0%;
}

p {
    font-size: 14px;
    margin: 0%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0%;
}

#info-prix {                                                     
    font-size: 14px;
    padding: 0%;
    margin: 0%;
}

.icone {
    width: 22px;
    height: 22px;
    color: #0065FC;
    display: flex;
}

.notes {
    display: flex;
    flex-direction: row;
    color: #0065FC;
    margin: 0%;
    padding: 0%;
    font-size: 12px;
}

.etoile {
    color: #F2F2F2;
}

a {
    text-decoration: none;
    color: #000000;
}

article a {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

/* fin par défaut*/
/* en-tête de page */

h1 {
    font-weight: 700;
    font-size: 22px;
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo-booki {
    width: 61px;
    height: 19px;
    margin: 0%;
    padding: 0%;
    margin-top: 20px;
}

nav  {
    width: 324px;
    display: flex;
    flex-direction: row;
}

.nav-sections {
    border-top: 2px solid transparent;
    padding: 20px;
    width: 100%;
    text-align: center;
}


.nav-sections:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}

/* section recherches et filtres */

.recherches-filtres {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* section recherche */

form {
    display: flex;
    justify-items: center;
    margin: 0%;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 49px;
}

.label-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    margin: 0%;
    padding: 20px;
    max-width: 50px;
    max-height: 49px;
}

    
.champs-recherche {
    border: none;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #f2f2f2;
    max-width: 240px;
    padding: 0%;
    margin: 0%;
    padding-left: 17px;
    font-size: 18px;
    font-weight: bold;
}

::placeholder {
    color: #000000;
    opacity: 1;
}

.submit {
    display: flex;
    align-items: center;
    border: solid 1px ;  
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 0%;
    padding: 15px;
}

.submit p {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.icone-loupe {
    display: none;
}

/*fin section recherches*/

/* section filtres*/

.filtres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
}

.filtres h2{
    font-size: 18px;
    font-weight: 700;
}

.label-et-filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin: 0%;

}

.boutons-filtre {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.elements-filtre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:30px;
}

.filtre {

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 5px;
    border: solid 2px;
    border-radius: 25px 25px 25px 25px;
    border-color: #d9d9d9;
    padding: 10px 20px;
}
 
.filtre .icone {
    display: flex;
    align-items: center;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.label-filtre {
    font-weight: 700;
    font-size: 17px;
}

.info-plus-de {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.icone-i {
    width: 24px;
    height: 24px;
    color:#0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    margin: 0%;
    padding: 0%;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fin section filtres */

/* fin header */

/* section hebergement et aside populaires */

.hebergements-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap:5px;
    width: 100%;
    margin: 0%;
    margin-bottom: 40px;
}

/* hebergements */

.hebergements {
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    max-width: 880px;
    margin: 0%;
    padding: 40px;
}

.selection-hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 30px;
    column-gap: 2px;
    margin: 0%;
    margin-top: 30px;
    padding: 0%;
}

.vignette-hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0%;
    padding:0%;
    width: 30%;
    min-width: 180px;
}

.images-hebergement {
    width: 100%;
    height:124px;
    border: solid 5px #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.info-hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    margin: 0%;
    padding:6px;
    padding-top: 0%;
    width: 100%;
}

.info-hebergement p {
    margin-top: 3px;
}

.nom-prix {
    display: flex;
    flex-direction: column;
    padding: 0%;
}

.afficher {
    font-weight: bolder;
    color: #000000 ;
    opacity: 1;
    font-size: 18px;
    margin: 0%;
    margin-top: 30px;
}

/* fin hebergements */

/* populaires */

aside {
    border-radius: 20px 20px 20px 20px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    width: 420px;
    margin: 0%;
    padding: 40px;
}

.titre-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0%;
}

.selection-populaires {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0% ;
    margin-top: 30px;
    padding: 0px;
    width: 100%;
}

.vignette-populaire{
    width: 100%;
    min-width: 254px;
}

.vignette-populaire a {
    max-width: 343px;
    max-height: 144px;
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.vignette-populaire p  {
    margin: 0%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0%;
}


.images-populaire {
    width: 137px;
    min-width: 137px;
    height: 144px;
    min-height: 144px;
    border: solid 5px #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.info-populaire {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 20px 20px 0px;
    background-color: #FFFFFF;
    padding: 10px 0 5px 5px;
}

.info-populair h3 {
    margin: 0%;
    margin-top: 10px;
}

.info-populaire .etoile{
    padding: 0%;
    padding-bottom: 3px;
}
 
/* populaires */

/* fin section hebergement et aside populaires */

/* section activité */

.selection-activites {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin:0%;
    margin-bottom:30px;
    margin-top:20px;
    padding: 0%;
    padding-bottom: 30px;
}

.vignette-activite {
    width: 24%;
    max-width: 302px;
}

.vignette-activite a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px 20px 20px 20px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 16px #0000002e;
}

.image-activite {
    max-width: none;
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
}

.vignette-activite h3 {
    height: 55px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

/* fin section activité */

/* pied de page */

footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #F2F2F2;
    padding: 0%;
    padding-top: 40px;
    padding-left: 60px;
    margin: 0%;
    margin-top: 30px;
}

.liste-footer {
    margin: 0;
    margin-right: 200px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer p {
    font-weight: 700;
    font-size: 22px;
    margin: 0%;
    padding: 0%;
}

footer h3 {
    padding: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.liens-redirection {
    display: flex;
    flex-direction: column;
    align-items: start ;
    line-height: 30px;
}



/* responsive tablette */

@media screen and (max-width: 992px) {
   
    /* par défaut */
   
    * {
        box-sizing: border-box;
    }

    .body {
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .conteneur-limite{
        max-width: 991px;
        margin: 0%;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0%;
    }

    /*fin par défault */

    /* haeder nav */

    header {
        max-width: 940px;
    }

    /* filtres */

    .filtres {
        display: flex;
        flex-direction: column;
    }

    .filtres h2 {
        display: flex;
        justify-content: flex-start;
        font-size: 18px;
    }
    
    .elements-filtre{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .boutons-filtre {
        margin: 0%;
        display: flex;
        justify-content: space-between;
        max-width: none;
        gap: 15px ;
    }

    .filtre { 
        margin: 0%;
        margin-left: 5px;
        margin-right: 5px;
        gap: 4px;
    }

    .label-et-filtres {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
    }

    /* section hébergements /populaire */

    .hebergements-populaires {
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;
    }

    /*section hebergements*/

    .hebergements {
        width: 100%;
        max-width: none;
    }

    .selection-hebergements {
        padding: 0%;
    }

    .info-hebergement {
        padding: 0px 10px 10px;
    }

    /*section populaires*/

    aside {
        max-width: none;
        width:100% ;
        height: 278px;
        margin: 0%;
        padding: 40px;
    }

    .selection-populaires {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0%;
        padding: 0%;
        padding-top: 30px;
        gap: 5px;
    }

    .vignette-populaire {
        width:30%;
        min-width: 220px;
    }

    .vignette-populaire a {
        margin: 0%;
        padding: 0%;
    }

    .info-populair {
    padding-bottom:5px;
    overflow-wrap: break-word;
    }

    .images-populaire {
        max-width: 100%;
        min-width: 106px;
    }

    /* section activités */

    .section-activites h2{
        margin-top: 60px ;
        padding-left:10px ;
    }

    .selection-activites  {
        max-width: none;
        margin: 0%;
        margin-top: 30px;
        padding-top: 0% ;
        gap: 30px;
    }

    .vignette-activite{
        max-width: 210px;
    }

    .image-activite {
        max-width: 335px;
        max-height: 211px;
    }

    .liste-footer{
        margin: 0%;
        margin-right:70px;
    }

}

/* responsive téléphone */

@media screen and (max-width: 768px) {
    
    /*par defaut*/

    .conteneur-limite{
        margin: 0%;
        padding: 0%;
    }

    * {
        box-sizing: border-box;
    }


    h1 {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 31px;
    }
    
    /*fin par defaut*/
    
    /* Logo et Nav*/

    header {
        margin-bottom: 0%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 30px;
    }

    .logo-booki {
        width: 61.09px;
        display: flex;
        align-self: center;
    }

    nav {
        width: 100%;
    }

    .nav-sections {
        display: flex;
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        justify-content: center;
        text-align: center;
        padding: 20px;
        width: 50%;
    }
    .nav-sections:hover {
        border-bottom-color:#0065FC ;
    }

    .recherches-filtres { 
        padding: 20px;
        display: flex;
    }

    /* formulaire */

    form {
        display: flex;
        justify-content: center;
        max-width: none;
        width: 100%;
        margin: 0%;
        margin-top: 15px;
    }

    .label-recherche{
        width: 100%;
    }
    
    .champs-recherche {
        max-width: none;
        width: 100%;
        height: 100%;
    }

    .icone-loupe {
    color: #FFFFFF;
    }

    .submit {
        display: flex;
        align-items: center;
        padding: 0%;
        height: 100%;
    }

    .submit p {
        display: none;
    }

    .submit .icone-loupe {
        display: block;
        display: flex;
        justify-content: center;
        margin:0%;
        margin-left: 14.5px;
        margin-right: 14.5px;
    }

    /*fin formulaire*/

    /* filtres*/

    .filtres{
        max-width: none;
        padding:20px;
    }

    .elements-filtre {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .label-et-filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 16px;
    }

    .boutons-filtre {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        margin: 0%;
        width: 100%;
    }

    .filtre {
        width: 47%;
        padding: 0%;
        margin: 0;
        min-height: 50px;
        justify-content: flex-start;
        padding-left: 13px;
    }

    /*fin des filtres*/

    .info-plus-de {
        display: flex;
        align-self: baseline;
    }

    /* section hebergements / populaires*/

    .hebergements-populaires {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        row-gap: 20px;
    }

    /*aside populaires*/
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    aside {
        height: 100%;
        width: 100%;
        border-radius: 0%;
        padding: 20px;
    }

    .selection-populaires {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    .vignette-populaire {
        max-width: none;
        width:100%;
    }

    .vignette-populaire a{
        max-width: none;
    }

    .images-populaire{
        width: 137px;
        min-width: 137px;
    }


    /*fin aside populaires*/

    /*section hebergement*/


    .hebergements {
        max-width: 100%;
        border-radius: 0%;
        background-color: #FFFFFF;
        padding: 20px;
    }

    .hebergements h2 {
        display: flex;
    }

    .info-hebergement{
        width: 100%;
    }

    .selection-hebergements {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .vignette-hebergement  {
        width: 100%;
        max-width: none;
    }

    .afficher  {
        display: none;
    }

    /*fin section hebergement*/

    /*section activite*/


    .section-activites {
        margin-bottom: 0%;
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 20px;
    }

    .section-activites h2 {
        display: flex;
        justify-content: start;
        align-self: baseline;
        margin: 0%;
        margin-bottom: 20px;
    }

    
    .selection-activites {
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .vignette-activite{
        width: 100%;
        max-width: none;
    }

    .image-activite{
        width: 100%;
        max-width: none;
        height: 134px;
    }


    /*fin section activite*/

    /*footer*/

    footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0%;
    padding-top: 40px;
    padding-left: 33px;
    }

    footer a {
        margin: 2px;
    }

}




