body {
    margin: 0 ;
    font-family: ralway sans-serif;
}

.conteneur-limite {
    max-width: 1400px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

header {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: space-between;
}

form {
display: flex;
justify-items: center;
}

.recherches-filtres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.label-recherche {
    width: 50px;
    height:49px;
    border: solid 1px;
    border-radius: 15px 0px 0px 15px;
    border-color: #F2F2F2;
}

.champs-recherche {
    width: 332px;
    height: 49px;
    border: solid 1px;
    border-radius: 15px 15px 15pxd 15px;
    border-color: #f2f2f2;
  
  
}

.submit {
    border: solid 1px ;  
    border-radius: 0px 15px 15px 0px;
    border-color: #0065FC;
}

.filtre-eco {
    display: flex;
    justify-content:space-between;
}

.filtre {
display: flex;
flex-direction: row;
justify-content: center;
width: 226px;
height: 50px;
border: solid 2px;
border-radius: 25px 25px 25px 25px;
border-color: #d9d9d9;
}

.hebergement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px;
}

.selection-hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:750px ;
}

.titre-icone {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.hebergements-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selection-activites {
    display: flex;
    flex-direction: row;
  }

footer {
    display: grid;
    grid-auto-flow: column;
}

.image-hebergement {
    width: 246px;
    height: 124px;
    
}
.article-populaire{
    display: flex;
    flex-direction: row;
}

.image-populaire {
    width: 137px;
    height: 144px;
   
}
.info-populaire{
    display: flex;
    flex-direction: column;
}

.image-activite {
width: 302px;
height: 445px;
/* erreur de mise en page des images avec object-fit:content */
}