/*par défaut*/

body {
    margin: 0 ;
    font-family: ralway 2px;
}

.conteneur-limite {
    max-width: 1400px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

/* en-tête de page*/

header {
    display: flex;
    justify-content: space-between;
}

.logo-booki {
    width: 61,09px;
    height: 19px;
}

nav {
    display: flex;
    justify-content: space-between;
}

/* section recherche*/

form {
    display: flex;
    justify-items: center;
}

.recherches-filtres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.label-recherche {
    width: 50px;
    height:49px;
    border: solid 1px;
    border-radius: 15px 0px 0px 15px;
    border-color: #F2F2F2;
}

.champs-recherche {
    width: 332px;
    height: 49px;
    border: solid 1px;
    border-radius: 15px 15px 15pxd 15px;
    border-color: #f2f2f2;
  
  
}

.submit {
    border: solid 1px ;  
    border-radius: 0px 15px 15px 0px;
    border-color: #0065FC;
    background-color: #0065FC;
}

/*filtres*/

.filtre-eco {
    display: flex;
    justify-content:space-between;
}

.filtre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 226px;
    height: 50px;
    border: solid 2px;
    border-radius: 25px 25px 25px 25px;
    border-color: #d9d9d9;
}

/*section hebergement et aside populaires*/

.hebergements-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*hebergements*/

.selection-hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 
}
.hebergements {
    width: 880px;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
}

.hebergement {
    width: 246 px;
    height: 199px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px;
    border-radius: 20px 20px 20px 20px;
}

.image-hebergement {
    width: 246px;
    height: 124px;
    border: solid 5px #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.info-hebergement {
    background-color: #FFFFFF;
    border: solid 5px #FFFFF;
    border-radius: 0px 0px 20px 20px;
}
/*populaires*/

.populaires {
    width: 420px;
    height: 625px;
    border-radius: 20px 20px 20px 20px;
    background-color: #F2F2F2;
}

.titre-icone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-populaire{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 343px;
    height: 144px;
}

.image-populaire {
    width: 137px;
    height: 144px;
   border: solid 5px #FFFFFF;
   border-radius: 20px 0px 0px 20px;
}

.info-populaire{
    display: flex;
    flex-direction: column;
    border: solid 5px #FFFFFF;
    border-radius: 0px 20px 20px 0px;
    background-color: #FFFFFF;
}

/*section activité*/

.selection-activites {
    display: flex;
    flex-direction: row;
    justify-content: space-around
    border: ;
}

.activite {
    width: 302px;
    height:445px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

  .image-activite {
    width: 302px;
    height: 445px;
    border: solid 1px #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    }


/*pied de page*/

footer {
    display: flex;
   flex-direction: row;
   justify-content: space-around;
    width: 1339px;
    height: 255px;
}








